{% extends "html/inicioGeneral.html" %}
{% block content %}
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
				<tbody>
					<tr>
    					{% for foto in fotos %}
	    				<th>
	    					<img class="img-thumbnail" src="serve/{{foto.pic}}"/>
	    				</th>
	    				<th>
	    					<span class="label label-default">{{foto.titulo}}</span>
				    		<span class="label label-default">{{foto.autor}}</span>
				    	</th>
				    	<br><br>				    	    
    					{% endfor %}
    				</tr>
    			</tbody>
    		<div>
    	<div>
    <div>
{% endblock %}
